/* ======================================================================

	class all section front page

	http://lspcohespa.org

======================================================================== */

.bannerPage{
	height:150px;
	background:#c5c5c5;
	display:block;
}