.panel-default {
  border-color: transparent;
}

.panel a {
  text-decoration: none;
}

.panel-heading {
  background: #ddd;
  padding: 8px;
  border-radius: 4px 4px 0 0;
}

.panel .panel-body {
  border: 1px solid #ddd;
  /* border-color: #ddd; */
  margin-bottom: 10px;
}

.panel .panel-title {
  font-size: 15px;
  margin-bottom: 0px;
  color: #3e4061;
}
.panel a:hover .panel-title,
.panel a:focus .panel-title,
.panel a:active .panel-title {
  color: #1f98cd;
}

.panel-heading .accordion-toggle:after {
  /* font-family: 'Glyphicons Halflings'; */
  content: "\276E";
  float: right;
  color: grey;
  font-size: 13px;
}

.collapsed .panel-heading .accordion-toggle:after {
  content: "\276F";
  color: grey;
}
